src/docconf
.project
.cproject
Debug
m4
html
latex
.settings
config
config.bak
*~
*.o
src/.libs
src/.deps
*.in
configure
depcomp
*.lo
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
libtool
missing
src/Makefile
src/libcollectc.la
stamp-h1
ltmain.sh
