build
src/docconf
.project
.cproject
Debug
m4
html
latex
.settings
config
config.bak
*~
*.o
src/.libs
src/.deps
configure
depcomp
*.lo
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
libtool
missing
src/Makefile
src/libcollectc.la
stamp-h1
ltmain.sh
test/*.Po
test/*.log
test/*.trs
test/.deps/*
src/.*
test-driver
.DS_Store
.vscode

test/treetable_test

test/treeset_test

test/stack_test

test/slist_test

test/queue_test

test/list_test

test/hashtable_test

test/hashset_test

test/array_test

test/deque_test
